 .wrapper {
    display: flex;
    width: 100%;
}
  
  .sidenav {
    position: fixed;
    height: 83%;
    width: 300px;
    position: fixed;
    z-index: 2;
    top: 100px;
    bottom: 100px;
    /* left: 20px; */
    background-color: #4b524e;
    overflow-x: hidden;
    padding-top: 20px;
}
  .row {
    --bs-gutter-x: 3rem;
  }
  @media only screen and (max-width: 727px) {
    .sidenav{
      width: 120px;
      height:100%
    }
  }
  @media only screen and (max-width: 767px) {
    .sidenav{
      width: 120px;
      height:400px
    }
  }
  @media only screen and (min-width:768px) and (max-width:1024px){
    .sidenav{
      width: 120px;
      height:400px
    }  
}
 