
.help{
    text-align: right;
}
.card-footer{
    left: 0;
    bottom: 0;
    height:83%;
    width: 100%;
    color: white;
    text-align: center;
}
._phone{
    justify-content: right;
    text-align: right !important;
    color:white
}
._span{
    display: flex;
    justify-content: center;
    place-items: center;
    font-size:larger;
    color:white
}
.box_{
    padding: 80px 60px;
  background: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  
}