
.help{
    text-align: right;
}
.card-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 3rem;
    
}
._phone{
    justify-content: right;
    text-align: right !important;
    color:white
}
._span{
    display: flex;
    justify-content: center;
    place-items: center;
    font-size: large;
}